@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .active {
    @apply bg-[#ffd160] hover:bg-[#e4be60] border-b;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.fade-in {
  animation: fadeIn 1s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  30%,
  99% {
    opacity: 1;
    scale: 1;
  }
}
