@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .active {
    @apply bg-[#ffd160] hover:bg-[#e4be60] border-b;
  }
}

.fade-in {
  animation: fadeIn 1s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  30%,
  99% {
    opacity: 1;
    scale: 1;
  }
}
